<!-- base for all our html templates -->

<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
  </head>

  <body background="{{background}}">
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" style="color: white;">Solid Learnination</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommendations">Bets</a>
          </li>
        </ul>
        <div style="color: white;">Welcome, {{name}}!</div>
        &nbsp; &nbsp;
        <form class="form-inline my-2 my-lg-0" action="/logout">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script src="/static/script.js"></script>
  </body>

</html>
