<!-- template for bets page -->

{% extends "base.html" %}

{% block title %}
Always Be a Good Sport
{% endblock %}

{% block content %}
<div>
  <div class="row">
      <div class="col-sm-1 game_info" style="border:1px solid #cecece;background-color: coral;">
          League
      </div>
      <div class="col-sm-1 game_info" style="border:1px solid #cecece;background-color: coral;">
          Team
      </div>
      <div class="col-sm-1 game_info" style="border:1px solid #cecece;background-color: coral;">
          Amount Bet
      </div>
  </div>
  {% for bets in bets_made %}
  <div class="row">
      <div class="col-sm-1 game_info" style="border:1px solid #cecece;">
          {{bets[2]}}
      </div>
      <div class="col-sm-1 game_info" style="border:1px solid #cecece;">
          {{bets[4]}}
      </div>
      <div class="col-sm-1 game_info" >
          $ {{bets[1]}}
      </div>
  </div>
</div>
<!-- # [('joe', 300, 'nfl', 45266, 'cavaliers'), ('joe', 300, 'nfl', 45266, 'cavaliers'), ('joe', 308, 'nfl', 452, 'caiers')] -->

{% endfor %}


{% endblock %}
