<!-- template for the user-specific home page -->

{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Solid Learnination</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recommendations">Bets</a>
        </li>
      </ul>
      <div style="color: white;">Welcome, {{name}}!</div>
      &nbsp; &nbsp;
      <form class="form-inline my-2 my-lg-0" action="/logout">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>

  <!-- sidebar -->

  <!-- favorites -->


{% endblock %}
