<!-- template for the user-specific home page -->

{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Solid Learnination</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recommendations">Bets</a>
        </li>
      </ul>
      <div style="color: white;">Welcome, {{name}}!</div>
      &nbsp; &nbsp;
      <form class="form-inline my-2 my-lg-0" action="/logout">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>

  <!-- sidebar (needs formatting)-->
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="/nba" role="tab" aria-controls="v-pills-home" aria-selected="true">NBA</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/nfl" role="tab" aria-controls="v-pills-profile" aria-selected="false">NFL</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="/nhl" role="tab" aria-controls="v-pills-messages" aria-selected="false">NHL</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="/mlb" role="tab" aria-controls="v-pills-settings" aria-selected="false">MLB</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content">
        <!-- favorites -->
        <div>
        NBA
        {% for fav in favorites['nba'] %}
        <!-- The team_icon class needs the innerHTML to be "TEAMID OR ABBREVIATION/LEAGUE/TEAMDISPLAYNAME" -->
        <!-- NBA and NFL use ABBREVIATIONS while MLB AND NHL use TEAMID -->
    	    <div class="team_icon">{{fav[0]}}</div>
	    {% endfor %}
        </div>
        <div>
        NFL
        {% for fav in favorites['nfl'] %}
    	    <div class="team_icon">{{fav[0]}}</div>
	    {% endfor %}
        </div>
        <div>
        NHL
        {% for fav in favorites['nhl'] %}
    	    <div class="team_icon">{{fav[0]}}</div>
	    {% endfor %}
        </div>
        <div>
        MLB
        {% for fav in favorites['mlb'] %}
    	    <div class="team_icon">{{fav[0]}}</div>
	    {% endfor %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}
