<!-- template for the landing page -->

{% extends "base.html" %}

{% block title %}
Always Be a Good Sport
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}

  <div class="container" style="">

    <div class="content" style="width: 700px; margin: 0 auto; text-align: center; padding-top: 250px; padding-bottom: 25px;">
      <h2 class="display-4">Join for sports stats, rankings, and more!</h2>
    </div>

    <div class="content" style="width: auto; text-align: center;">
      <a class="btn btn-dark" href="login" role="button" id="login">
        Login
      </a>
      <a class="btn btn-dark" href="register" role="button" id="register">
        Sign Up
      </a>
    </div>

  </div>


{% endblock %}
