<!-- template for the list of teams within a league -->

{% extends "base.html" %}

{% block title %}
{{league}}
{% endblock %}

{% block content %}

  <!-- list of teams, bare minimum right now -->
  {% for teamentry in teams %}
      {% set team_city = teamentry['team']['City'].split(' ') %}
      {% set team_name = teamentry['team']['Name'].split(' ') %}
  <a href="/{{league}}/team/{{team_city|join('')}}-{{teamentry['team']['Name']}}"> {{teamentry['team']['Name']}} </a>
  <form action="/favorite" method="post" accept-charset="utf-8">
    <button type="submit" name="favdata" class="btn" value="{{teamentry['team']['Name']}}/{{league}}">
      Favorite
    </button>
  </form> <br>
  {% endfor %}

  <!-- list of games -->

{% endblock %}
