<!-- template for individual game stats for the MLB -->

{% extends "base.html" %}

{% block title %}
Always Be a Good Sport
{% endblock %}

<!-- NEEDS HEAVY STYLING -->

{% block content %}
    {% for i in range(2) %}
        <div class="row team_heading">
            {{boxscore[['homeName','awayName'][i]]}}
        </div>
        <table class="table" id="{{'mlb_boxscore' + i|string}}">
            <thead class="thead-dark">
            <tr>
                {% for j in range(10) %}
                <th id="{{j|string + i|string}}"> {{['Player','MIN','PTS','FGM','FGA','REB','AST','STL','BLK','+/-'][j]}} </th>
                {% endfor %}
            </tr>
            </thead>
            {# Scores #}

            {% for player in boxscore[['homeTeam','awayTeam'][i]][['homePlayers','awayPlayers'][i]]['playerEntry'] %}
            <tr>
                <td> {{player['player']['FirstName'] + ' ' + player['player']['LastName']}} </td>
                <td> {{(((player['stats']['MinSeconds']['#text']|int) / 60)|string)[:4]}} </td> {# Mins #}
                <td> {{player['stats']['Pts']['#text']}} </td> {# PTS #}
                <td> {{player['stats']['FgMade']['#text']}} </td> {# FGM #}
                <td> {{player['stats']['FgAtt']['#text']}} </td> {# FGA #}
                <td> {{player['stats']['Reb']['#text']}} </td> {# REB #}
                <td> {{player['stats']['Ast']['#text']}} </td> {# AST #}
                <td> {{player['stats']['Stl']['#text']}} </td> {# STL #}
                <td> {{player['stats']['Blk']['#text']}} </td> {# BLK #}
                <td> {{player['stats']['PlusMinus']['#text']}} </td> {# +/- #}
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <script src='../../static/player_sort.js'></script>



{% endblock %}
