<!-- template for individual game stats for the NFL -->

{% extends "base.html" %}

{% block title %}
Always Be a Good Sport
{% endblock %}

<!-- NEEDS HEAVY STYLING -->

{% block content %}
    {% for i in range(2) %}
    <div class="container">
        <div class="row team_heading" style="margin-left: 2px;">
            {{boxscore[['homeName','awayName'][i]]}}
        </div>
        <table class="table" id="{{'nfl_boxscore' + i|string}}">
            <thead class="thead-dark">
            <tr>
                <!-- Create the headers -->
                <th id="{{'0' + i|string}}"> Player ⇑</th>
                {% for j in range(9) %}
                <th id="{{(j+1)|string + i|string}}"> {{'PASS COMPLETED','PASS ATTEMPTS','YDS','TD','SACKS','TFL','TOTAL TACKLES','FUM','TGT'][j]}} </th>
                {% endfor %}
            </tr>
            </thead>
            {# Scores #}

            {% for player in boxscore[['homeTeam','awayTeam'][i]][['homePlayers','awayPlayers'][i]]['playerEntry'] %}
            <tr>
                <td> {{player['player']['FirstName'] + ' ' + player['player']['LastName']}} </td>
                <!-- For all the stat headings -->
                {% for h in ['PassCompletions','PassAttempts','yds','tds','Sacks','TacklesForLoss','TackleTotal','Fumbles','Targets'] %}
                <!-- If the stat exists. This check is because not all players have the same stat categories. -->
                {% if h in player['stats'] %}
                <td> {{player['stats'][h]['#text']}} </td>
                {% elif h == 'yds' %}
                    <!-- If the stat is yards, check if the player is a passer because they have different "yards" -->
                    {% if 'PassAttempts' in player['stats'] %}
                        {% set total = namespace(t = 0) %}
                        {% for stat in ['PassYards','RushYards','RecYards'] %}
                            {% set total.t = total.t + player['stats'][stat]['#text']|int %}
                        {% endfor %}
                        <td> {{total.t}} </td>
                    <!-- If the player is not a passer, add their types of yards -->
                    {% else %}
                        {% set total = namespace(t = 0) %}
                        {% for stat in ['SackYds','IntYds','StuffYds','KrYds','PrYds'] %}
                            {% set total.t = total.t + player['stats'][stat]['#text']|int %}
                        {% endfor %}
                        <td> {{total.t}} </td>
                    {% endif %}
                {% elif h == 'tds' %}
                    <!-- Repeat the same as above but for touchdowns instead -->
                    {% if 'PassAttempts' in player['stats'] %}
                        {% set total = namespace(t=0) %}
                        {% for stat in ['PassTD','RushTD','RecTD','FumTD','IntTD','KrTD','PrTD'] %}
                            {% set total.t = total.t + player['stats'][stat]['#text']|int %}
                        {% endfor %}
                        <td> {{total.t}} </td>
                    {% else %}
                        {% set total = namespace(t=0) %}
                        {% for stat in ['IntTD','FumTD','KrTD','PrTD'] %}
                            {% set total.t = total.t + player['stats'][stat]['#text']|int %}
                        {% endfor %}
                        <td> {{total.t}} </td>
                    {% endif %}
                {% else %}
                    <td> 0 </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}

    <script src='../../static/player_sort.js'></script>



{% endblock %}
