<!-- template for individual game stats for the NHL -->

{% extends "base.html" %}

{% block title %}
Always Be a Good Sport
{% endblock %}

<!-- NEEDS HEAVY STYLING -->

{% block content %}
    {% for i in range(2) %}
    <div class="container">
        <div class="row team_heading" style="margin-left: 2px;">
            {{boxscore[['homeName','awayName'][i]]}}
        </div>
        <table class="table" id="{{'nhl_boxscore' + i|string}}">
            <thead class="thead-dark">
            <tr>
                <!-- Create the headers -->
                <th id="{{'0' + i|string}}"> Player ⇑</th>
                {% for j in range(9) %}
                <th id="{{(j+1)|string + i|string}}"> {{['PTS','AST','HAT','GOALS','SHOTS','BLK','F/O W','F/O L','+/-'][j]}} </th>
                {% endfor %}
            </tr>
            </thead>
            <!-- For each player, enter the stats -->
            {# Scores #}
            <tbody>
            {% for player in boxscore[['homeTeam','awayTeam'][i]][['homePlayers','awayPlayers'][i]]['playerEntry'] %}
            <tr>
                <td > {{player['player']['FirstName'] + ' ' + player['player']['LastName']}} </td>
                <td > {{player['stats']['Points']['#text']}} </td>
                <td > {{player['stats']['Assists']['#text']}} </td>
                <td > {{player['stats']['HatTricks']['#text']}} </td>
                <td > {{player['stats']['Goals']['#text']}} </td>
                {% for h in ['Shots','BlockedShots','FaceoffWins','FaceoffLosses','PlusMinus'] %}
                {% if h in player['stats'] %}
                <td > {{player['stats'][h]['#text']}} </td>
                {% else %}
                <td > 0 </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

    <script src='../../static/player_sort.js'></script>



{% endblock %}
